html,
body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: auto;
}

a {
    color: #5696e9;
}

a:hover {
    color: #006eff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 10px 0;
    background: rgba(28, 88, 38, 0.548);
    box-shadow: 0px 0px 20px 0px rgba(45, 121, 57, 0.1);
    position: relative;
}

#header .logo h1 {
    font-size: 26px;
    padding: 0 0 0 8px;
    margin: 11px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border-left: 8px solid #ffee009c;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #000000;
    text-decoration: none;
}

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #ffffff;
    padding: 13px 0 15px 25px;
    transition: 0.3s;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #000000;
    text-decoration: none;
}

.formulario_login {
    padding-bottom: 40px;
    margin: auto;
    width: 300px;

}

.cont_login {
    padding-top: 50px;
    margin: auto;
    margin-top: 10%;
    width: 500px;
    height: 400px;
    height: 400px;
    background-color: rgba(28, 88, 38, 0.267);
    border-radius: 30px;
}
input#btn1 {
    padding: 5px 15px;
    
}

#login-sucesso{
    color: white;
    width: 500px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(28, 88, 38, 0.548);
    padding: 20px;
    text-align: center;
    font-size: 32px;
}